/* stylelint-disable selector-id-pattern */
@import "../../../node_modules/material-symbols/index.css";

.sb-wrapper-custom {
  padding: 2rem;
  background: var(--primary-bg-color);
}

#storybook-root {
  .sb-wrapper-custom {
    min-height: 100vh;
  }
}
