// TablePaginator
@use "../../../../../styles/breakpoints" as *;

.table-paginator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  min-height: 65px;
  max-height: 65px;
  background: var(--tertiary-bg-color);
  border-top: 1px solid var(--border-color);

  .pages {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 3);

    .page-placeholder {
      width: 30px;
    }

    .page {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      aspect-ratio: 1/1;
      border-radius: var(--radius-sm);
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:not(.current) {
        @include hover {
          background: color-mix(in srgb, var(--primary-color) 50%, transparent);
        }
      }

      &.current {
        background: var(--primary-color);
        color: var(--tertiary-bg-color);
        cursor: default;
      }
    }
  }
}
