// Popup

@use "../../../styles/breakpoints" as *;

.popup {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  background: color-mix(in srgb, var(--tertiary-bg-color) 80%, transparent);
  animation: popup-blur-in 0.3s ease-in-out;

  .popup-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    max-height: 80vh;
    animation: popup-fade-in 0.2s ease-in-out;

    .popup-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid var(--border-color);
      padding: 1rem;

      span {
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        @include hover {
          filter: brightness(1.5);
        }
      }
    }

    .popup-body {
      width: 100%;
      padding: 1rem;
      overflow-y: auto;
    }
  }

  &.not-visible {
    animation: popup-blur-out 0.3s ease-in-out forwards;

    .popup-card {
      animation: popup-fade-out 0.2s ease-in-out forwards;
    }
  }

  @keyframes popup-blur-in {
    0% {
      backdrop-filter: blur(0);
      background: transparent;
    }

    100% {
      backdrop-filter: blur(12px);
      background: color-mix(in srgb, var(--tertiary-bg-color) 80%, transparent);
    }
  }

  @keyframes popup-fade-in {
    0% {
      opacity: 0;
      scale: 0.8;
    }

    100% {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes popup-blur-out {
    0% {
      backdrop-filter: blur(12px);
      background: color-mix(in srgb, var(--tertiary-bg-color) 80%, transparent);
    }

    100% {
      backdrop-filter: blur(0);
      background: transparent;
    }
  }

  @keyframes popup-fade-out {
    0% {
      opacity: 1;
      scale: 1;
    }

    100% {
      opacity: 0;
      scale: 0.8;
    }
  }
}
