// Home Page

@use "@lwn-simulator/ui-components/scss/fonts" as *;

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);

  .title {
    font-size: font-size("3xl");
  }

  .sub-title {
    font-size: font-size("xl");
  }

  .connection-card {
    margin-top: 1.5rem;
    width: 28rem;
    max-width: 90vw;
  }

  .loading-text {
    font-size: font-size("lg");
    margin-top: var(--gap);
  }
}
