// SensorMap
@use "./components/components";

.sensor-map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 5/3;
  border-radius: var(--radius-md);
  overflow: hidden;
  background: var(--secondary-bg-color);
  box-shadow: 0 0 5px #0003;

  .marker {
    text-shadow:
      -1px -1px 0 var(--base-color),
      1px -1px 0 var(--base-color),
      -1px 1px 0 var(--base-color),
      1px 1px 0 var(--base-color);
  }
}
